body{
     background-color: #1055FB;
     color: #ffffff;
     font-size: 16px;
     font-family: Arial, Sans-serif;
}

#banner {
    width: 180px;
    height: 50px;
    border: 10px solid black;
}

#banner img {
    vertical-align: middle;
}

.form-middle {
    width: 400px;
    margin: 100px auto;
    text-align: center;
}

.form-middle .align-left {
    text-align: left;
}

.align-center {
    display: inline-block;
}

#logout-right {
    text-decoration: none;
    margin: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#logout-right:visited{
    color: white;
}

#logout-right:hover {
    text-decoration: underline;
}

#container {
    margin: 50px 0px;
    color: #075FAB;
    display: flex;
}

#container h2 {
    text-indent: 10px;
}

.user_info {
    text-align: left;
}

.user_info thead {
  float: left;   
}


.user_info thead th {
  display: block;   
  
}

.user_info tbody {
  float: right;   
}

.user_info tbody td {
  display: block;   
}

#info-left, #info-right {
    float: left;
    min-height: 380px;
    width: 50%;
    background-color: white;
    flex: 1;
}
