body{
 background-color: #1055FB;
}

#banner {
    width: 250px;
    height: 50px;
    border: 10px solid black;
    color: #ffffff;
}

#banner img {
    vertical-align: middle;
}

.form-middle {
    width: 400px;
    margin: 100px auto;
    text-align: center;
    color: #ffffff;
}

.form-middle .align-left {
    text-align: left;
}

.align-center {
    display: inline-block;
}