body{
     /*background-color: #1055FB;*/
     color: #ffffff;
     font-size: 16px;
     font-family: Arial, Sans-serif;
     background: #1e5799; /* Old browsers */
     background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(top, #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top, #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */
     background: -ms-linear-gradient(top, #1e5799 0%,#7db9e8 100%); /* IE10+ */
     background: linear-gradient(to bottom, #1e5799 0%,#7db9e8 100%); /* W3C */
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0); /* IE6-9 */

     height: 100%;
     margin: 0;
     background-repeat: no-repeat;
     background-attachment: fixed;
}

#banner {
    width: 180px;
    height: 50px;
    border: 10px solid black;
}

#banner img {
    vertical-align: middle;
}

.form-middle {
    width: 400px;
    margin: 100px auto;
    text-align: center;
}

.form-middle .align-left {
    text-align: left;
}

.align-center {
    display: inline-block;
}

#logout-right {
    text-decoration: none;
    margin: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#logout-right:visited{
    color: white;
}

#logout-right:hover {
    text-decoration: underline;
}

#container {
    margin: 50px 0px;
    color: #075FAB;
    display: flex;
}

#container h2 {
    text-indent: 10px;
}

.user_info {
    text-align: left;
}

.user_info thead {
  float: left;   
}


.user_info thead th {
  display: block;   
  
}

.user_info tbody {
  float: right;   
}

.user_info tbody td {
  display: block;   
}

#info-left, #info-right {
    float: left;
    min-height: 380px;
    width: 50%;
    background-color: white;
    flex: 1;
}
